* {margin: 0;}
*{font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;}


/* НАВИГАЦИЯ */
.nav-img{width: 2.5rem;}
.nav-links{display: inline-block;
height: 1rem;
}
.nav-links a:hover {background-color: rgb(247,197,198)}
.nav-wrap{display: flex;
align-items: center;
justify-content: right;
background-color: rgb(110, 184, 141);;}
.nav-wrap a{
    color: white;
    padding: 3px;
text-decoration: none;
border-radius: 30px;
padding: 7px;
}


.grey{background: repeating-linear-gradient(
    30deg,
    #333333,
    #333333 25px,
    #3d3d3d 25px,
    #3d3d3d  50px
  );
height: 2430px;
}

.conteiner{position: relative;
width: 1000px;
margin: auto;
background-color: white;
height: 700px;
border-left: 60px solid rgb(110, 184, 141);
margin-bottom: 15px;}

video{position: absolute;
height: 650px;
/* border: 3px solid;
border-color: rgb(85, 138, 107) rgb(247,197,198); */
}

.text{position: absolute;
right: 40px;
top: 250px;
}
H1{font-size: 60px;
margin-left: 95px;}



.Main>ul{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 410px;
    padding: 10px;
list-style: none;
background-color: #d7d6d6;
/* border: 3px solid;
border-color:  rgb(85, 138, 107) rgb(247,197,198); */}

span {color: rgb(247,197,198);
    text-shadow: 1px 0 10px #000;}

.conteiner-btn{position: absolute;
}
.info{position: absolute;
    width: 4rem;
    height: 4rem;
background-color: rgb(110, 184, 141);
border-radius: 90px;
border: none;
/* border: 3px solid;
border-color:  rgb(85, 138, 107) rgb(247,197,198); */}

.info:hover {background-color:  rgb(247,197,198);}
.a{top: 34rem;
left: 30rem;}
.b{top: 30rem;
    left: 38rem;}
.c{top: 33rem;
    left: 43rem;}
.d{top: 26rem;
    left: 50rem;}
.e{top: 25rem;
    left: 58rem;}



/* обо мне 1 */

.about {padding-top: 100px;}
.about2 a{color: white;
font-size: 15px;}
.about2 ul{list-style: inside;}

.hi{position: absolute;
    transform: rotate(90deg);
    left: -120px;
    top: 400px;
    font-size: 35px;
}

.aboutpart{height: 200px;
background-color: #b9b9b9;
border: 3px solid;
border-color:  rgb(85, 138, 107) rgb(247,197,198);
margin: 0 50px;}

.cutegif{display: inline;
    height: 100px;
}
/* ниже - для котика на мотике сделала высоту повыше, а то он маленький какойто */
.a2 .cutegif{
    height: 150px;
}
.aboutul{
    list-style-image: url('cuteHi3.webp')
    display: inline-block;
 width: 350px;
 font-size: 20px;
list-style-image: url('cuteHi3.webp');
}
.aboutpart{display: flex;
justify-content: center;
align-items: center;}
.aboutpart>div{display: inline;}
.a1, .a3{margin-right: 200px;}
.a2{margin-left: 200px;}

/* обо мне 2 */
.about2 {border-color: rgb(247,197,198);
} 
.about2 .aboutpart{ background-color: rgb(85, 138, 107);
border-color:rgb(247,197,198) #646464 ;}
.about2 img{height: 130px;}
